body{
    background-color: #48cae4;
    /* background: #48cae4 url("Menstruation\ icon\ collection\ in\ line\ style_\ Menstrual\ pain\ symptoms.jfif" ) no-repeat scroll 100% 0%; */
}
/* .females{
    border: 5px double #94999B;
    -webkit-border-radius: 10px;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-family: 'Akaya Kanadaka', cursive;
   letter-spacing: 0.2px;
   word-spacing: -0.6px;
   width: 50%;
   margin-left: 30px;
} */
.industrial{
    border: 5px double #94999B;
    -webkit-border-radius: 10px;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-family: 'Akaya Kanadaka', cursive;
   letter-spacing: 0.2px;
   word-spacing: -0.6px;
   width: 50%;
   margin-left: 30px;
}
.domestic{
    border: 5px double #94999B;
    -webkit-border-radius: 10px;
     border-radius: 10px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     font-family: 'Akaya Kanadaka', cursive;
   letter-spacing: 0.2px;
   word-spacing: -0.6px;
   width: 50%;
   margin-left: 30px;
}

 /* .menses {
    width: 100 px;
    height : 200 px;
    background-size : 50% */
/* }  */

    
/* } */

/* .image{
    width: 20px;
    height: 20px;
} */
/* .common1{ 
    background: url("Menstruation icon collection in line style_ Menstrual pain symptoms.jfif") no-repeat scroll ;
    background-size: 420px 350px;
   
     height:350px;
    width: 400px;
    margin-left: 5%;
   margin-right: 10%;
    margin-bottom: 5%;

    border-radius: 10px; 
    margin-left: 80px;
    margin-left: 85%;
}  */
.females{
    border: 5px double #94999B;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
   padding-bottom: 5px;
   font-family: 'Akaya Kanadaka', cursive;
   letter-spacing: 0.2px;
   word-spacing: -0.6px;
   width: 50%;
   margin-left: 30px;
} 